.circle {
 border-radius: 50%;
 height: 40px;
 width: 42px;

}

.f-75 {
 font-size: .75rem;
}

.container-title {
 line-height: 2.5ex;
 height: 7.5ex;
 /* 2.5ex for each visible line */
 overflow: hidden;
}
.logo-size {
 height: 50px;
 width: 50px;
 display : left;
}
div.ex1 {
  width: 500px;
  margin: auto;
  border: 2px solid #73AD21;
}
div.ex1 {
 width: 500px;
 margin: auto;
 border: 1px solid #73AD21;
}